<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common::head(~{::title},~{::link})">
  <title>新增标签</title>
  <link rel="stylesheet" type="text/css" th:href="@{/lib/editormd/css/editormd.min.css}">
</head>
<body>
  <!--导航-->
  <nav th:replace="commons/admin-common::nav(_)"></nav>

  <!--<div th:replace="commons/admin-common::type_menu('new')"></div>-->

  <!--中间内容-->
  <div class="m-padded-tb-big m-container-small">
    <div class="ui container">
      <form th:object="${tag}" th:action="*{id} ==null ? '/admin/tags' : '/admin/tags/update'"
            method="post"  class="ui form">
        <input type="hidden" name="id" th:value="*{id}">
        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">名称</label>
            <input type="text" name="name" th:value="*{name}" placeholder="标签名称">
          </div>
        </div>

        <div class="ui error message"></div>
        <!--/*/
        <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
          <i class="close icon"></i>
          <div class="header">验证失败</div>
          <p th:errors="*{name}">提交信息不符合规则</p>
        </div>
        /*/-->
        <div class="ui right aligned container">
          <button type="button" onclick="window.history.go(-1)" class="ui button">返回</button>
          <button class="ui teal button">提交</button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!--底部-->
  <footer th:replace="commons/common::footer"></footer>

  <div th:replace="commons/common::common_js(_)"></div>
  <script th:src="@{/lib/editormd/editormd.min.js}"></script>

  <script>

    $('.ui.dropdown').dropdown({
      on: 'hover'
    });

    $('.ui.form').form({
      fields: {
        name: {
          identifier: 'name',
          rules: [{
            type: 'empty',
            prompt: '请输入标签名称'
          }]
        }
      }
    })

    $('.message .close').click(function(){
        $(this).closest('.message').transition('fade')
    })
  </script>
</body>
</html>